@model SmashPopMVC.Models.Friend.AddFriendViewModel

<form asp-controller="ApplicationUser" asp-action="AddFriend" id="AddFriendForm">
    <input type="hidden" asp-for="@Model.UserID" id="UserID" />
    <input type="hidden" asp-for="@Model.FriendID" id="FriendID" />
    <button id="AddFriend" class="btn btn-default" onclick="return false;"><i class="fas fa-plus"></i>Add Friend!</button>
</form>