@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-4 col-md-offset-4">
            <br />
            <p>Try <a asp-area="" asp-controller="Account" asp-action="Login">logging</a> in.</p>
            <br />
            <div class="lined-break"></div>
            <br />
            <p>New here? You must <a asp-area="" asp-controller="Account" asp-action="Register">register</a> to use SmashPop services.</p>
            <br />
        </div>
    </div>
</div>