@model SmashPopMVC.Models.ApplicationUser.AcceptFriendViewModel


<form asp-controller="ApplicationUser" asp-action="AcceptFriend">
    <input type="hidden" asp-for="@Model.RequestID" class="RequestID" />
    <button class="accept-friend btn btn-default" value="submit">Accept</button>
</form>