@model SmashPopMVC.Models.ApplicationUser.UpdateViewModel

<form asp-controller="ApplicationUser" asp-action="Update" id="UserUpdateForm">
    <input type="hidden" asp-for="@Model.UserID" id="UserID"/>
    <input type="hidden" asp-for="@Model.MainID" id="MainID"/>
    <input type="hidden" asp-for="@Model.AltID" id="AltID"/>
    <button id="UpdateUser" class="btn btn-dark" value="submit" style="display: none;"><i class="fa fa-database"></i> Update</button>
</form>
