#ProfileData {
    display: table;
}

/*||||||| Profile Images ||||||||*/
#ProfileImages .card {
    display: inline-block;
    border: 1px solid #666666;
    padding: 0;
}

#ProfileImages .card div.card-title {
    max-width: 50%;
}

#ProfileImages .card h6.card-title {
    border-bottom: 1px solid #666666;
    width: 100%;
    padding: 0;
}

#ProfileImages .card img {
    zoom: 1.5;
    /*transform: scale(2);
    transform-origin: 0 0;
    -ms-transform: scale(2);
    -ms-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);
    -o-transform-origin: 0 0;*/
}



/*||||||| Profile Social ||||||||*/

#ProfileSocial > #ProfileComments {
    margin-right: 6%;
}

/*|| Profile Comments ||*/

#ProfileComments {
    max-height: 100vh;
    background: #666666;
    padding: 0;
    overflow: auto;
}

/*#ProfileComments {
    max-height: 100vh;
    background: #666666;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0;
}
#ProfileComments::-webkit-scrollbar {
    display: none;
}*/

#ProfileComments #comments-body {
    background: green;
}

#comments-body > .comment {
    border: 1px solid #666666;
}

.replies > .comment {
    border-left : 1px solid #666666;
}

.comment {
    width: 100%;
    background: FloralWhite;
    padding: 2%;
}

.replies {
    margin-left: 5%;
}

.comment-links div,
.comment-links form,
.comment-links button,
.comment-links span {
    display: inline-block;
    margin: 0 0.5%;
    padding: 0px;
}

 {

}

/*||||||| Votes ||||||||*/


/*||||||| Friends ||||||||*/

#ProfileFriends div p {
    margin: 0 0 1% 0;
    /*border-bottom: 1px solid #666666;
    background-color: #666666;
    color: #fff;
    width: 100%;*/
    padding: 0 1%;
}

#ProfileFriends div {
    margin: 0;
    margin-bottom: 3%;
    background-color: #666666;
    border: 1px solid #666666;
    padding: 0;
}

#ProfileFriends div p {
    color: white;
}

#ProfileFriends div .friends-holder {
    background-color: floralwhite;
    border: 0;
    margin: 0;
    padding: 1%;
}

#ProfileFriends div .card {
    background-color: firebrick;
    margin-right: 1%;
    min-width: 55px;
}


#ProfileFriends div .card a {
    color: white;
}