<div class="container">
    <h4>7/08/2019 -- Hotfix</h4>
    <ul>
        <li>Partnerships added! Request a partner and have your partner request you back! Terminate the partnership when you have moved on!</li>
        <li>Optimized styles for IE9+</li>
        <li>Fixed site falling asleep problem (added get request to / index and checked "always on" feature in azure.)</li>
    </ul>
    <br />
    <h4>7/05/2019 -- Hotfix</h4>
    <ul>
        <li>Fixed error that was preventing normal login.</li>
        <li>Generalized friends, and connected all current users.</li>
        <li>Now allow user search and Whack-A-Main anonymously (without logging in).</li>
    </ul>
    <br />
    <h4>7/02/2019</h4>
    <ul>
        <li>Added depth limit to comments. (old comments deleted, sorry!)</li>
        <li>Fixed various syntax errors.</li>
    </ul>
</div>
