@model SmashPopMVC.Models.Comment.NewCommentModel

<form asp-controller="Comment" asp-action="Add" class="NewCommentForm">
    <input type="hidden" asp-for="@Model.PosteeID" id="PosteeID" />
    <input type="hidden" asp-for="@Model.PosterID" id="PosterID" />
    <input type="hidden" asp-for="@Model.Title" id="Title" />
    <input type="hidden" asp-for="@Model.Content" id="Content" />
    <button id="NewComment" class="btn btn-success" value="submit"><i class="fas fa-plus"></i>New Comment!</button>
</form>