@model SmashPopMVC.Models.Comment.NewCommentModel

<form asp-controller="Comment" asp-action="Add" class="AddCommentForm">
    <input type="hidden" asp-for="@Model.PosteeID" class="PosteeID" />
    <input type="hidden" asp-for="@Model.PosterID" class="PosterID" />
    <input placeholder="Title" type="text" asp-for="@Model.Title" class="title-input" style="display: block;" />
    <textarea placeholder="Content..." asp-for="@Model.Content" class="content-input" style="display: block;"></textarea>
</form>

