@model SmashPopMVC.Models.Character.CharacterListingModel
@using SmashPopMVC.Models.Character

@{
    ViewData["Title"] = "Whack-A-Main!";
}

<div class="vertical-center">
    <div id="Stats">
        <h3>Score: <span id="Score">0</span></h3>
        <h3>Level: <span id="Level">1</span></h3>
        <div>
            <h5>Combo: </h5>
            <div id="Combo"></div>
        </div>
        <button id="Start">Start</button>
        <button id="End">End</button>
        <div><h3>Time: <span id="Time">0</span></h3></div>
    </div>
    <div id="GameArea" class="no-select"></div>
</div>

<script>
    whackCharacters = @Json.Serialize(Model.CharacterList);
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="~/js/MiniGames/whack.js" asp-append-version="true"></script>
